* {
    box-sizing: border-box;
  }
  
  body
  {
    margin: .5rem 2rem;
    font-family: "Montserrat", sans-serif;
  }
  
  header {
    display: flex;  
    justify-content: space-between;
    
    ul {
      display: flex;
      margin: 0;
      list-style: none;
      
      li {
        margin-left: 2rem;
        
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
