@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: bold;
  color: #ddd;
  z-index: 10;

  .name {
    margin: 0;
    padding: 0.25em 0 0.25rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    background: #222;
  }

  .collapse {
    position: absolute;
    right: 1rem;
    top: 3px;
    margin-left: 0;
    font-size: 1.75rem; 
  }

  ul {
    height: 96vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style: none;
    background: #222;
    color: #ddd;
    font-weight: 400;
    border-top: 2px solid black;
    border-bottom: 2px solid black;    

    li {
      text-align: center;
      width: 100%;
      padding: 1rem 0.5rem;
      font-size: 1.5rem;
      font-weight: 300;

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          border-bottom: 1px solid white;
          text-shadow: 8px 8px 14px #ccc;
        }
      }
    }
  }
}

blockquote {
  width: 100%;
}

main {
  margin-top: 38px;
  margin-bottom: 1rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center; 

  h1, h2, h3 {
    font-weight: 500;
  }  

  h1 {
    background: #333;
    color: white;
    padding: .25rem .5rem;
    width: 100%;
    max-width: 1200px;    
    margin: 0;
  }

  h2 {
    padding: .25rem;
    margin: 0;
    background: #777;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 5px 5px 0 0;
  }

  .container {
    max-width: 1200px;
    padding: 1rem;
  }

  &#splash {
    min-height: calc(100vh - 39px);
    position: relative;
    z-index: -5;
    padding: 0 2rem;
    padding-top: 7rem;

    background: bottom / cover url("../images/stars.png");
    text-align: center;
    color: white;

    blockquote {
      margin-left: 0;
      margin-right: 0;
      font-size: 2rem;
      font-weight: 400;
      text-shadow: 8px 8px 14px #0c0743;
    }

    cite {
      font-size: 1rem;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  &#about {
    background: url("../images/egg_shell.png");
    text-align: center;

    h1 {
      margin: 0;
    }

    .container  {
      background: #ccc;
      border-radius: 5px;
    }

    .intro {
      margin-top: 0;      
      font-size: 1.2rem;
      font-weight: 300;
    }

    .intro-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem; 

      .brand-container {
        display: flex;
        flex-direction: column;
      
        .headshot {
          border: 2px solid #222;
          border-radius: 5px;
          vertical-align: middle;
        }
      }
    }

    .social-links {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin: .25rem 0 0 0;
      padding-left: 0;
      font-size: 1.5rem;
      list-style: none;

      i {
        color: #333;;
      }
    }    
  }

  &#skills {
    color: 444; 

    ul {
      display: flex;
      flex-direction: row;
      padding: 0;
      margin: 0;
      list-style: none;
      flex-wrap: wrap;
      justify-content: space-around;

      li {
        margin: .5rem 0 0 1rem;
        font-weight: 500;  
        
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }

  &#work {
    
    .lists {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      div {
        flex: 0 26rem;
      }
    }

    ul {
      padding-left: .5rem;
      list-style: none;      

      li {
        padding: .5rem 0;

        a {
          color: inherit;
          // text-decoration: none;

          i {
            font-size: .7rem;
            color: blue;
          }
        }
      }
    }
  }
}

footer {
  margin-top: auto;
  background: black;
  padding: 2rem;
  color: white;
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.show-med {
  display: none;
}

@import '_queries.scss';